@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --blue: #413EEF;
  --background: #edf2f7;
}

.admin {
  background-color: #EFE2FE;
  color: #574195;
}
.account-manager {
  background-color: #FEDDEB;
  color: #710C36;
}
.agent {
  background-color: #CEF1FD;
  color: #04546F;
}
.external-reviewer {
  background-color: #FEEBC8;
  color: #91472C;
}

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }

  body {
    background-color: var(--background);
  }

  table {
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  td {
    border-left: solid 4px transparent;
    border-style: solid none;
  }
  
  td:first-child {
    border-left-style: solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  td:first-child.checked {
    border-left: solid 4px var(--blue);
  }
  td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
}

@layer components {
  .search-input {
    @apply placeholder:text-gray-200 placeholder:text-md placeholder:leading-input block w-full p-2 pl-10 text-md text-gray-200 border border-gray-100 rounded;
  }
  .input-icon {
    @apply absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none;
  }
  .primary-button {
    @apply bg-blue-600 text-white rounded px-4 py-2 leading-input;
  }
}